@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import "tailwindcss";

@theme {
  /* colors */
  --color-dark-green: #1f372d;
  --color-teal-green: #8acab2;
  --color-slate-green: #43655a;
  --color-slate-green-800: #2f483f;
  --color-brown-50: #f2f0ef;
  --color-brown-100: #b7a193;
  --color-brown-400: #413a36;
  --color-active-task: #a8e6cf;
  --color-disabled-task: #e2bfa7;
  --color-disabled-text: #4a4a4a;
  /* typography */
  --font-instrument-serif: "Instrument Serif", serif;
}

@layer base {
  body {
    color: var(--color-dark-green);
  }
}

@layer components {
  .border {
    @apply border-[0.6px] border-gray-400;
  }

  /* Feature section */
  .feature {
    @apply flex justify-start items-center md:gap-6 gap-4 text-xl;
  }
  .feature span {
    @apply rounded-full lg:w-25 lg:h-25 w-22 h-22 shrink-0 flex items-center justify-center text-5xl font-instrument-serif;
  }
  .feature div {
    @apply h-full w-full p-6 bg-green-100 rounded-2xl min-h-24 flex flex-col items-start gap-4 text-[clamp(1.2rem,1.055rem+0.73vw,1.6rem)];
  }

  /* button */
  .btn {
    @apply cursor-pointer rounded-lg self-center font-semibold text-white bg-white;
  }

  /* Slider track gradient */
  .slider {
    background: linear-gradient(
      to right,
      var(--color-brown-100) 0%,
      var(--color-brown-100) var(--slider-value, 0%),
      white var(--slider-value, 0%),
      white 100%
    );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    appearance: none;
    @apply h-4.5 border-[0.6px] border-gray-400  cursor-pointer w-full rounded-full;
  }

  /* The range nob - vendor pseudo elements*/

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @apply bg-brown-400 h-5 w-5 rounded-full border-none;
  }

  .slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    @apply bg-brown-400 h-5 w-5 rounded-full border-none;
  }

  /* slider container */
  .slider-container {
    @apply flex gap-2.5 border-[0.6px] border-gray-400 bg-brown-50 rounded-full lg:px-5 px-4 md:py-2.5 py-2;
  }
}
